<table style="width:100%; height: 100%; border-collapse: collapse;">
    <tr style="height: 16px;" class="scr_title_row"><td><div class="scr_title"></div></td></tr>
    <tr>
        <td>
            <table class="vp_set">
                <tr style="height: 100%;">
                    <td style="width:100%;"><div class="vp  {{ st.vt01_01 }}" id="vt01_01"><p>
                        {% if lnk.vt01_01 %}
                        <a href="{{ lnk.vt01_01 }}" target="_blank">{{ lbl.vt01_01 }}</a>
                        {% else %}
                        {{ lbl.vt01_01 }}
                        {% endif %}</p></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>