<table style="width:100%; height: 100%; border-collapse: collapse;">
    <tr style="height: 16px;"><td><div class="scr_title"></div></td></tr>
    <tr>
        <td>
            <table class="vp_set">
                <tr style="height: 50%;">
                    <td colspan="2" rowspan="2" style="width:50%;"><div class="vp {{ st.vt07_01 }}" id="vt07_01"><p>
                        {% if lnk.vt07_01 %}
                        <a href="{{ lnk.vt07_01 }}" target="_blank">{{ lbl.vt07_01 }}</a>
                        {% else %}
                        {{ lbl.vt07_01 }}
                        {% endif %}
                    </p></div></td>
                    <td colspan="2" rowspan="2" style="width:50%;"><div class="vp {{ st.vt07_02 }}" id="vt07_02"><p>
                        {% if lnk.vt07_02 %}
                        <a href="{{ lnk.vt07_02 }}" target="_blank">{{ lbl.vt07_02 }}</a>
                        {% else %}
                        {{ lbl.vt07_02 }}
                        {% endif %}
                    </p></div></td>
                </tr>
                <tr>
                </tr>
                <tr style="height: 25%;">
                    <td colspan="2" rowspan="2" style="width:50%;"><div class="vp  {{ st.vt07_03 }}" id="vt07_03"><p>
                        {% if lnk.vt07_03 %}
                        <a href="{{ lnk.vt07_03 }}" target="_blank">{{ lbl.vt07_03 }}</a>
                        {% else %}
                        {{ lbl.vt07_03 }}
                        {% endif %}
                    </p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt07_04 }}" id="vt07_04" ><p>
                        {% if lnk.vt07_04 %}
                        <a href="{{ lnk.vt07_04 }}" target="_blank">{{ lbl.vt07_04 }}</a>
                        {% else %}
                        {{ lbl.vt07_04 }}
                        {% endif %}
                    </p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt07_05 }}" id="vt07_05" ><p>
                        {% if lnk.vt07_05 %}
                        <a href="{{ lnk.vt07_05 }}" target="_blank">{{ lbl.vt07_05 }}</a>
                        {% else %}
                        {{ lbl.vt07_05 }}
                        {% endif %}
                    </p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt07_06 }}" id="vt07_06" ><p>
                        {% if lnk.vt07_06 %}
                        <a href="{{ lnk.vt07_06 }}" target="_blank">{{ lbl.vt07_06 }}</a>
                        {% else %}
                        {{ lbl.vt07_06 }}
                        {% endif %}
                    </p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt07_07 }}" id="vt07_07" >
                        <p>
                            {% if lnk.vt07_07 %}
                                <a href="{{ lnk.vt07_07 }}" target="_blank">{{ lbl.vt07_07 }}</a>
                            {% else %}
                                {{ lbl.vt07_07 }}
                            {% endif %}
                        </p>
                    </div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>