<table style="width:100%; height: 100%; border-collapse: collapse;">
    <tr style="height: 16px;"><td><div class="scr_title"></div></td></tr>
    <tr>
        <td>
            <table class="vp_set">
                <tr style="height: 33%;">
                    <td style="width:33%;"><div class="vp {{ st.vt09_01 }}" id="vt09_01" ><p>
                        {% if lnk.vt09_01 %}
                        <a href="{{ lnk.vt09_01 }}" target="_blank">{{ lbl.vt09_01 }}</a>
                        {% else %}
                        {{ lbl.vt09_01 }}
                        {% endif %}}</p></div></td>
                    <td style="width:34%;"><div class="vp {{ st.vt09_02 }}" id="vt09_02" ><p>
                        {% if lnk.vt09_02 %}
                        <a href="{{ lnk.vt09_02 }}" target="_blank">{{ lbl.vt09_02 }}</a>
                        {% else %}
                        {{ lbl.vt09_02 }}
                        {% endif %}</p></div></td>
                    <td style="width:33%;"><div class="vp {{ st.vt09_03 }}" id="vt09_03" ><p>
                        {% if lnk.vt09_03 %}
                        <a href="{{ lnk.vt09_03 }}" target="_blank">{{ lbl.vt09_03 }}</a>
                        {% else %}
                        {{ lbl.vt09_03 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 34%;">
                    <td style="width:33%;"><div class="vp {{ st.vt09_04 }}" id="vt09_04" ><p>
                        {% if lnk.vt09_04 %}
                        <a href="{{ lnk.vt09_04 }}" target="_blank">{{ lbl.vt09_04 }}</a>
                        {% else %}
                        {{ lbl.vt09_04 }}
                        {% endif %}</p></div></td>
                    <td style="width:34%;"><div class="vp {{ st.vt09_05 }}" id="vt09_05" ><p>
                        {% if lnk.vt09_05 %}
                        <a href="{{ lnk.vt09_05 }}" target="_blank">{{ lbl.vt09_05 }}</a>
                        {% else %}
                        {{ lbl.vt09_05 }}
                        {% endif %}</p></div></td>
                    <td style="width:33%;"><div class="vp {{ st.vt09_06 }}" id="vt09_06" ><p>
                        {% if lnk.vt09_06 %}
                        <a href="{{ lnk.vt09_06 }}" target="_blank">{{ lbl.vt09_06 }}</a>
                        {% else %}
                        {{ lbl.vt09_06 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 33%;">
                    <td style="width:33%;"><div class="vp {{ st.vt09_07 }}" id="vt09_07" ><p>
                        {% if lnk.vt09_07 %}
                        <a href="{{ lnk.vt09_07 }}" target="_blank">{{ lbl.vt09_07 }}</a>
                        {% else %}
                        {{ lbl.vt09_07 }}
                        {% endif %}</p></div></td>
                    <td style="width:34%;"><div class="vp {{ st.vt09_08 }}" id="vt09_08" ><p>
                        {% if lnk.vt09_08 %}
                        <a href="{{ lnk.vt09_08 }}" target="_blank">{{ lbl.vt09_08 }}</a>
                        {% else %}
                        {{ lbl.vt09_08 }}
                        {% endif %}</p></div></td>
                    <td style="width:33%;"><div class="vp {{ st.vt09_09 }}" id="vt09_09" ><p>
                        {% if lnk.vt09_09 %}
                        <a href="{{ lnk.vt09_09 }}" target="_blank">{{ lbl.vt09_09 }}</a>
                        {% else %}
                        {{ lbl.vt09_09 }}
                        {% endif %}</p></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
