<table style="width:100%; height: 100%; border-collapse: collapse;">
    <tr style="height: 16px;"><td><div class="scr_title"></div></td></tr>
    <tr>
        <td>
            <table class="vp_set">
                <tr style="height: 25%;">
                    <td colspan="2" rowspan="2" style="width:50%;"><div class="vp {{ st.vt10_01 }}" id="vt10_01" ><p>
                        {% if lnk.vt10_01 %}
                        <a href="{{ lnk.vt10_01 }}" target="_blank">{{ lbl.vt10_01 }}</a>
                        {% else %}
                        {{ lbl.vt10_01 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt10_02 }}" id="vt10_02" ><p>
                        {% if lnk.vt10_02 %}
                        <a href="{{ lnk.vt10_02 }}" target="_blank">{{ lbl.vt10_02 }}</a>
                        {% else %}
                        {{ lbl.vt10_02 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt10_03 }}" id="vt10_03" ><p>
                        {% if lnk.vt10_03 %}
                        <a href="{{ lnk.vt10_03 }}" target="_blank">{{ lbl.vt10_03 }}</a>
                        {% else %}
                        {{ lbl.vt10_03 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt10_04 }}" id="vt10_04" ><p>
                        {% if lnk.vt10_04 %}
                        <a href="{{ lnk.vt10_04 }}" target="_blank">{{ lbl.vt10_04 }}</a>
                        {% else %}
                        {{ lbl.vt10_04 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt10_05 }}" id="vt10_05" ><p>
                        {% if lnk.vt10_05 %}
                        <a href="{{ lnk.vt10_05 }}" target="_blank">{{ lbl.vt10_05 }}</a>
                        {% else %}
                        {{ lbl.vt10_05 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td colspan="2" rowspan="2" style="width:50%;"><div class="vp {{ st.vt10_06 }}" id="vt10_06" ><p>
                        {% if lnk.vt10_06 %}
                        <a href="{{ lnk.vt10_06 }}" target="_blank">{{ lbl.vt10_06 }}</a>
                        {% else %}
                        {{ lbl.vt10_06 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt10_07 }}" id="vt10_07" ><p>
                        {% if lnk.vt10_07 %}
                        <a href="{{ lnk.vt10_07 }}" target="_blank">{{ lbl.vt10_07 }}</a>
                        {% else %}
                        {{ lbl.vt10_07 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt10_08 }}" id="vt10_08" ><p>
                        {% if lnk.vt10_08 %}
                        <a href="{{ lnk.vt10_08 }}" target="_blank">{{ lbl.vt10_08 }}</a>
                        {% else %}
                        {{ lbl.vt10_08 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt10_09 }}" id="vt10_09" ><p>
                        {% if lnk.vt10_09 %}
                        <a href="{{ lnk.vt10_09 }}" target="_blank">{{ lbl.vt10_09 }}</a>
                        {% else %}
                        {{ lbl.vt10_09 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt10_10 }}" id="vt10_10" ><p>
                        {% if lnk.vt10_10 %}
                        <a href="{{ lnk.vt10_10 }}" target="_blank">{{ lbl.vt10_10 }}</a>
                        {% else %}
                        {{ lbl.vt10_10 }}
                        {% endif %}</p></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
