<table style="width:100%; height: 100%; border-collapse: collapse;">
    <tr style="height: 16px;"><td><div class="scr_title"></div></td></tr>
    <tr>
        <td>
            <table class="vp_set">
                <tr style="height: 25%;">
                    <td colspan="2" rowspan="2" style="width:50%;"><div class="vp {{ st.vt13_01 }}" id="vt13_01" ><p>
                        {% if lnk.vt13_01 %}
                        <a href="{{ lnk.vt13_01 }}" target="_blank">{{ lbl.vt13_01 }}</a>
                        {% else %}
                        {{ lbl.vt13_01 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_02 }}" id="vt13_02" ><p>
                        {% if lnk.vt13_02 %}
                        <a href="{{ lnk.vt13_02 }}" target="_blank">{{ lbl.vt13_02 }}</a>
                        {% else %}
                        {{ lbl.vt13_02 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_03 }}" id="vt13_03" ><p>
                        {% if lnk.vt13_03 %}
                        <a href="{{ lnk.vt13_03 }}" target="_blank">{{ lbl.vt13_03 }}</a>
                        {% else %}
                        {{ lbl.vt13_03 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt13_04 }}" id="vt13_04" ><p>
                        {% if lnk.vt13_04 %}
                        <a href="{{ lnk.vt13_04 }}" target="_blank">{{ lbl.vt13_04 }}</a>
                        {% else %}
                        {{ lbl.vt13_04 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_05 }}" id="vt13_05" ><p>
                        {% if lnk.vt13_05 %}
                        <a href="{{ lnk.vt13_05 }}" target="_blank">{{ lbl.vt13_05 }}</a>
                        {% else %}
                        {{ lbl.vt13_05 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt13_06 }}" id="vt13_06" ><p>
                        {% if lnk.vt13_06 %}
                        <a href="{{ lnk.vt13_06 }}" target="_blank">{{ lbl.vt13_06 }}</a>
                        {% else %}
                        {{ lbl.vt13_06 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_07 }}" id="vt13_07" ><p>
                        {% if lnk.vt13_07 %}
                        <a href="{{ lnk.vt13_07 }}" target="_blank">{{ lbl.vt13_07 }}</a>
                        {% else %}
                        {{ lbl.vt13_07 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_08 }}" id="vt13_08" ><p>
                        {% if lnk.vt13_08 %}
                        <a href="{{ lnk.vt13_08 }}" target="_blank">{{ lbl.vt13_08 }}</a>
                        {% else %}
                        {{ lbl.vt13_08 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_09 }}" id="vt13_09" ><p>
                        {% if lnk.vt13_09 %}
                        <a href="{{ lnk.vt13_09 }}" target="_blank">{{ lbl.vt13_09 }}</a>
                        {% else %}
                        {{ lbl.vt13_09 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt13_10 }}" id="vt13_10" ><p>
                        {% if lnk.vt13_10 %}
                        <a href="{{ lnk.vt13_10 }}" target="_blank">{{ lbl.vt13_10 }}</a>
                        {% else %}
                        {{ lbl.vt13_10 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_11 }}" id="vt13_11" ><p>
                        {% if lnk.vt13_11 %}
                        <a href="{{ lnk.vt13_11 }}" target="_blank">{{ lbl.vt13_11 }}</a>
                        {% else %}
                        {{ lbl.vt13_11 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_12 }}" id="vt13_12" ><p>
                        {% if lnk.vt13_12 %}
                        <a href="{{ lnk.vt13_12 }}" target="_blank">{{ lbl.vt13_12 }}</a>
                        {% else %}
                        {{ lbl.vt13_12 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt13_13 }}" id="vt13_13" ><p>
                        {% if lnk.vt13_13 %}
                        <a href="{{ lnk.vt13_13 }}" target="_blank">{{ lbl.vt13_13 }}</a>
                        {% else %}
                        {{ lbl.vt13_13 }}
                        {% endif %}</p></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
