<table style="width:100%; height: 100%; border-collapse: collapse;">
    <tr style="height: 16px;"><td><div class="scr_title"></div></td></tr>
    <tr>
        <td>
            <table class="vp_set">
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt16_01 }}" id="vt16_01" ><p>
                        {% if lnk.vt16_01 %}
                        <a href="{{ lnk.vt16_01 }}" target="_blank">{{ lbl.vt16_01 }}</a>
                        {% else %}
                        {{ lbl.vt16_01 }}
                        {% endif %}
                    </p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_02 }}" id="vt16_02" ><p>
                        {% if lnk.vt16_02 %}
                        <a href="{{ lnk.vt16_02 }}" target="_blank">{{ lbl.vt16_02 }}</a>
                        {% else %}
                        {{ lbl.vt16_02 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_03 }}" id="vt16_03" ><p>
                        {% if lnk.vt16_03 %}
                        <a href="{{ lnk.vt16_03 }}" target="_blank">{{ lbl.vt16_03 }}</a>
                        {% else %}
                        {{ lbl.vt16_03 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_04 }}" id="vt16_04" ><p>
                        {% if lnk.vt16_04 %}
                        <a href="{{ lnk.vt16_04 }}" target="_blank">{{ lbl.vt16_04 }}</a>
                        {% else %}
                        {{ lbl.vt16_04 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt16_05 }}" id="vt16_05" ><p>
                        {% if lnk.vt16_05 %}
                        <a href="{{ lnk.vt16_05 }}" target="_blank">{{ lbl.vt16_05 }}</a>
                        {% else %}
                        {{ lbl.vt16_05 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_06 }}" id="vt16_06" ><p>
                        {% if lnk.vt16_06 %}
                        <a href="{{ lnk.vt16_06 }}" target="_blank">{{ lbl.vt16_06 }}</a>
                        {% else %}
                        {{ lbl.vt16_06 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_07 }}" id="vt16_07" ><p>
                        {% if lnk.vt16_07 %}
                        <a href="{{ lnk.vt16_07 }}" target="_blank">{{ lbl.vt16_07 }}</a>
                        {% else %}
                        {{ lbl.vt16_07 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_08 }}" id="vt16_08" ><p>
                        {% if lnk.vt16_08 %}
                        <a href="{{ lnk.vt16_08 }}" target="_blank">{{ lbl.vt16_08 }}</a>
                        {% else %}
                        {{ lbl.vt16_08 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt16_09 }}" id="vt16_09" ><p>
                        {% if lnk.vt16_09 %}
                        <a href="{{ lnk.vt16_09 }}" target="_blank">{{ lbl.vt16_09 }}</a>
                        {% else %}
                        {{ lbl.vt16_09 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_10 }}" id="vt16_10" ><p>
                        {% if lnk.vt16_10 %}
                        <a href="{{ lnk.vt16_10 }}" target="_blank">{{ lbl.vt16_10 }}</a>
                        {% else %}
                        {{ lbl.vt16_10 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_11 }}" id="vt16_11" ><p>
                        {% if lnk.vt16_11 %}
                        <a href="{{ lnk.vt16_11 }}" target="_blank">{{ lbl.vt16_11 }}</a>
                        {% else %}
                        {{ lbl.vt16_11 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_12 }}" id="vt16_12" ><p>
                        {% if lnk.vt16_12 %}
                        <a href="{{ lnk.vt16_12 }}" target="_blank">{{ lbl.vt16_12 }}</a>
                        {% else %}
                        {{ lbl.vt16_12 }}
                        {% endif %}</p></div></td>
                </tr>
                <tr style="height: 25%;">
                    <td style="width:25%;"><div class="vp {{ st.vt16_13 }}" id="vt16_13" ><p>
                        {% if lnk.vt16_13 %}
                        <a href="{{ lnk.vt16_13 }}" target="_blank">{{ lbl.vt16_13 }}</a>
                        {% else %}
                        {{ lbl.vt16_13 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_14 }}" id="vt16_14" ><p>
                        {% if lnk.vt16_14 %}
                        <a href="{{ lnk.vt16_14 }}" target="_blank">{{ lbl.vt16_14 }}</a>
                        {% else %}
                        {{ lbl.vt16_14 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_15 }}" id="vt16_15" ><p>
                        {% if lnk.vt16_15 %}
                        <a href="{{ lnk.vt16_15 }}" target="_blank">{{ lbl.vt16_15 }}</a>
                        {% else %}
                        {{ lbl.vt16_15 }}
                        {% endif %}</p></div></td>
                    <td style="width:25%;"><div class="vp {{ st.vt16_16 }}" id="vt16_16" ><p>
                        {% if lnk.vt16_16 %}
                        <a href="{{ lnk.vt16_16 }}" target="_blank">{{ lbl.vt16_16 }}</a>
                        {% else %}
                        {{ lbl.vt16_16 }}
                        {% endif %}</p></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
